html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar-track
{
	--webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}


body{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Rajdhani', sans-serif;
    margin: 0%;
    background-color: black;
    background-image: url('../Images/239007.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-top: 7vh;
}

/* Nav Bar */

nav{
    align-items: center;
    background-color: rgb(37, 37, 37);
    display: flex;
    min-height: 7vh;
    justify-content: space-between;
    padding: 0 4%;
    position: fixed;
    top: 0;
    width: 92%;
    z-index: 1000;
}

nav a{
    text-decoration: none;
    color: rgb(204, 204, 204);
    margin:2px;

}

nav a:hover{
    color: white;
    font-weight: 800;
}

nav .pesquisa {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30px;
    margin-left: 10px;
    width: 29%;
}

nav .pesquisa input{
    font-size: 13pt;
    height: 70%;
    border-radius: 10px;
    border: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 12pt;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    outline: none;
}

nav #logoArea{
    align-items: center;
    color: rgb(167, 167, 167);
    display: flex;
    font-family: 'Press Start 2P', cursive;
    font-size: 11pt;
    justify-content: flex-start;
    height: 100%;
    width: 40%;
}

nav #logoArea h1{
    margin: 0;
}

nav #navResto{
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 7vh;
    width: 60%;
}

nav #logoPM{
    border-radius: 4px;
    height: 40px;
    margin-right: 20px;
    overflow: hidden;
    width: 40px
}

nav #logoPM img{
    height: 40px;
}

nav #navResto #atalhosArea{
    align-items: center;
    display: flex;
    font-size: 15pt;
    height: 100%;
    justify-content: space-between;
    min-width: 40%;
}

nav span{
    background-color: rgb(153, 153, 153);
    height: 14pt;
    width: 1px;
}

/* Header */

header{
    width: 100%;
    height: 70vh;
}

/* Padrões do aside e section */

aside{
    width: 40%;
    justify-content: flex-start;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

aside .perfil, aside .index, aside .feed, aside .paginaJogos{
    align-items: center;
    color: rgb(153, 153, 153);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #8d44ad49;
    width: 90%;
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
}

section{
    width: 60%;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

section .perfil, section .index, section .feed, section .paginaJogos{
    width: 91%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 6.66% 20px 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Footer */

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .footer{
    border-radius: 0% 0% 10px 10px;
    color: rgb(153, 153, 153);
    width: 90%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    margin: 2px 0 20px 0;
}

footer .footer div:first-child{
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

footer .footer div:nth-child(2) {
    width: 57%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

footer .footer div:nth-child(2) button {
    background-color: #8e44ad;
    color: white;
    border: none;
    width: 120px ;
    height: 30px ;
    letter-spacing: 3px;
    border-radius: 15px;
}

footer .footer div:last-child {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

/* ======== INDEX ======== */



.index, .paginaJogos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

header .index{
    background-image: url('https://images.unsplash.com/photo-1533613220915-609f661a6fe1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80');
    background-size: cover;
}

.BannerTexto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    background-color: #8e44ad;
}

.ContBanner {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ContBanner h1 {
    font-family: 'Press Start 2P', cursive;
}

.ContBanner h4 {
    font-family: 'Press Start 2P', cursive;
}

.BannerImg {
    width: 60%;
    display: flex;
    background-image: url('https://images.unsplash.com/photo-1533613220915-609f661a6fe1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80');
    background-size: cover;
}

.sIndexCont{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.sIndexCont p{
    color: #311B92;
}

aside .index{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aIndexCont {
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: space-around;
    align-items: center;
}

.topjogoIndex {
    width: 25px;
    height: 59px;
    background-color: aqua;
}

/* ======== PERFIL ======== */

.perfil {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}


aside .perfil div:first-child{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .perfil div:first-child div{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #F5F5F5;
    overflow: hidden;
}

aside .perfil div:first-child div img{
    width: 100px;
    height: 100px;
    
}

aside .perfil div:last-child{
    width: 70%;
    height: 70%;
}

aside .perfil div:last-child div:first-child{
    width: 100%;
    height: 15%;
    justify-content: flex-start;
    align-items: center;
}

aside .perfil div:last-child div:first-child h3{
    font-family: 'Press Start 2P', cursive;
    font-size: 20pt;
    margin: 5% 0;
}

aside .perfil div:last-child div:nth-child(3){
    width: 100%;
    margin-bottom: 15%;
    background-color: rgb(241, 240, 255);
    border-radius: 4px;
}

aside .perfil div:last-child div:nth-child(3) p{
    text-align: center;
    font-style: italic;
    color: darkslategrey;
}

aside .perfil div:last-child div:last-child{
    width: 100%;
    height: 33%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside .perfil div:last-child div:last-child p, aside .perfil div:last-child div:last-child a{
    margin: 0;
    text-decoration: none;
    color: rgb(241, 240, 255);
}

.opsLogin > div{
    width: 60%;
    height: 60%;
    background-color: #ecf0f1;
    border-radius: 10px;
}

/* ======== CADASTRO LOGIN ======== */

article {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ecf0f1;
    width: 50%;
    height: 60%;
    border-radius: 50px;
}

.login .formArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
}

.login h4, .cadastro h4{
    font-weight: 200;
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 22pt;
    margin: 0;
}

.login input, .cadastro input{
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    border: 1px solid #8e44ad;
    transition: 0.45s;
    font-family: 'Rajdhani', sans-serif;
}

.login input::placeholder, .cadastro input::placeholder{
    font-family: 'Rajdhani', sans-serif;
}

.login input[type = 'text']:focus, .login input[type = 'password']:focus, .cadastro input[type = 'text']:focus, .cadastro input[type = 'password']:focus{
    width: 200px;
    border-color: black;
}

.login input[type='submit']:hover, .login input[type='button']:hover, .cadastro input[type='submit']:hover, .cadastro input[type='button']:hover, .cadastro select:hover{
    cursor: pointer;
    background-color: #311B92;
    color: white;
}

.cadastro select{
    text-align: center;
    height: 40px;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    border: 1px solid #8e44ad;
    transition: 0.45s;
    font-family: 'Rajdhani', sans-serif;
    width: 50px;
}

.login .formArea{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 80%;
}

.login form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

.cadastro{
    display: flex;
    justify-content: center;
    background-color: #ecf0f1;
    border-radius: 10px;
    width: 60%;
    height: 95%;
    overflow: auto;
}

.cadascont{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecf0f1;
}

.cadascont .formArea{
    width: 100%
}

.cadascont p{
    display: flex;
    flex-direction: column;
}

.login p{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.cadascont .form3Area p{
    display: flex;
    flex-direction: row;
}


.cadascont a input{
    margin: 10px 0;
}

.cadascont .iconSelect{
    width: 10px;
}

.cadastro .dispDiaSelect{
    width: 100px;
}

.iconeForm{
    width: 50px;
}

.capaForm{
    width: 70px;
    height: 100px;
}

/* ======== JOGOS ======== */

.paginaJogos{
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .paginaJogos{
    height:250px;
    min-height: 100vh;
    overflow: auto;
}

aside .paginaJogos > div{
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: 50px 0;
    overflow-y:auto;
}
aside .paginaJogos div > div{
    width: 150px;
}
aside .paginaJogos div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside .paginaJogos div div div:first-child{
    border-radius: 25px;
    overflow: hidden;
    width: 100px;
    background-color: white;
}

aside .paginaJogos div div div:first-child img{
    width: 100px;
    height: 150px;
}

aside .paginaJogos div div div:first-child:hover{
    filter: blur(1px);
    cursor: pointer;
}
aside .paginaJogos div div > div div:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    color: white;
    width: 100%;
    text-align: center;
}


section .paginaJogos{
    opacity: 0;
}


/* ======== FEED ======== */

.feed{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Informações do usuario e area de novo  */

aside .feed .top{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

aside .feed .top .userInfo{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 60%;
}

aside .feed .top .userInfo .userImage{
    background-color: rgb(189, 189, 189);
    border-radius: 100%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

aside .feed .top .userInfo .userImage img{
    height: 100px;
}    

aside .feed .top .userInfo h4{
    font-family: 'Press Start 2P', cursive;
    font-size: 16pt;
    font-weight: 600;
    margin: 0;
}

aside .feed .top .userInfo h5{
    font-size: 14pt;
    margin: 10px 0 30px 0;
}

aside .feed .top .newPostButtonArea{
    align-items: center;
    display: flex;
    height: 90%;
    justify-content: flex-end;
    width: 40%;
}

aside .feed .top .newPostButtonArea .newPostButton{
    align-items: center;
    background-color: rgb(189, 189, 189);
    border-style: solid;
    border-width: 2px;
    border-color: #311B92;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    padding: 0;
    width: 60px;
}

aside .feed .top .newPostButtonArea .newPostButton span{
    background-color: #311B92;
    border-radius: 3px;
    height: 3px;
    width: 90%;
}

aside .feed .top .newPostButtonArea .newPostButton .spanVertical{
    transform: translateX(50%) rotate(90deg);
    transition: .50s;
    opacity: 1;
    z-index: 10;
}

aside .feed .top .newPostButtonArea .newPostButton .spanHorizontal{
    transform: translateX(-50%);
}

aside .feed .top .newPostButtonArea .newPostButton .verticalDesce{
    transform: translateX(50%) translateY(30px) rotate(90deg);
    transition: .50s;
    opacity: 0;
    z-index: -1;
}

aside .feed .top .newPostButtonArea .active, aside .feed .top .newPostButtonArea .newPostButton:hover{
    background-color: rgb(153, 153, 153);
}

aside .feed .newPost{ 
    max-height: 0px;
    overflow: hidden;
    padding: 0 5% 0 5%;
    transition: max-height 0.5s ease-out;
    width: 90%;
}

aside .feed .newPost form p{
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

aside .feed .newPost form input, select{
    text-align: center;
    height: 40px;
    border-radius: 5px;
    outline: none;
    background-color:rgba(241, 240, 255, 0.849);
    border: 1px solid #8e44ad;
    transition: 0.45s;
    font-family: 'Rajdhani', sans-serif;
}

aside .feed .newPost form select:hover{
    cursor: pointer;
    background-color: #311B92;
    color: white;
}    

aside .feed .newPost form input[type='submit']{
    background-color: #311B92;
    color: rgb(153, 153, 153);
    font-weight: 900;
    font-size: 15pt;
    margin: 20px 0;
    width: 100%; 
}

aside .feed .newPost form input[type='submit']:hover{
    background-color: #8e44ad;
    color: white;
}

/* Lista de top jogos */

aside .feed .topGameList{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

aside .feed .topGameList .tituloTopGameList{
    border-top: 1px solid rgb(153, 153, 153);
    font-size: 14pt;
    font-weight: 600;
    width: 90%;
}


/* Abas da Section */

section .feed #navTabArea{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top: 7vh;
    width: 100%;
}

section .feed #navTabArea #navTab{
    align-items: center;
    background-color: rgb(37, 37, 37);
    border-radius: 0 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    min-width: 30%;
}

section .feed #navTabArea #navTab .tab{
    background-color: rgb(37, 37, 37);
    border: none;
    border-radius: 0 0 10px 0;
    color: rgb(226, 226, 226);
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
    font-size: 14pt;
    outline: none;
}

section .feed #navTabArea #navTab .divisoriaTab{
    background-color: rgb(153, 153, 153);
    height: 10pt;
    width: 1px;
}

section .feed #navTabArea #navTab button.active{
    color: #8e44ad;
}

section .feed .tabContent{
    animation: fadeEffect .5s;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Estilo das divs de post */

section .feed .tabContent .postsTitulo{
    width: 95%;
    border: 1px solid #311B92;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
    background-color:rgba(241, 240, 255, 0.849);
    padding: 5px 4%;
    margin: 10px 0;
 
}

section .feed .tabContent .postsTitulo .postsHeader{
    min-height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
}

section .feed .tabContent .postsTitulo h4{
    display: flex;
    flex-wrap: wrap;
    font-size: 16pt;
    font-weight: 200;
    margin: 0 10px;
    width: 70%;
}

section .feed .tabContent .postCapaJogo{
    border-radius: 100%;
    width: 90px;
    height: 90px;
    overflow: hidden;
}

section .feed .tabContent .postCapaJogo > img{
    border-radius: 100%;
    width: 90px;
}


section .feed .tabContent .postButtonArea{
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: flex-end;
}

section .feed .tabContent .postButtonArea .postButton{
    align-items: center;
    background-color: rgb(189, 189, 189);
    border-style: solid;
    border-width: 1px;
    border-color: #311B92;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 0;
    width: 40px;
}

section .feed .tabContent .postButtonArea .postButton span{
    background-color: #311B92;
    border-radius: 3px;
    height: 2px;
    width: 90%;
}

section .feed .tabContent .postButtonArea .postButton .spanVertical1{
    transform: translateX(50%) rotate(90deg);
    transition: .50s;
    opacity: 1;
    z-index: 10;
}

section .feed .tabContent .postButtonArea .postButton .spanHorizontal1{
    transform: translateX(-50%);
}

section .feed .tabContent .postButtonArea .postButton .verticalDesce1{
    transform: translateX(50%) translateY(30px) rotate(90deg);
    transition: .50s;
    opacity: 0;
    z-index: -1;
}

section .feed .tabContent .postButtonArea .active1, section .feed .tabContent .postButtonArea .postButton:hover{
    background-color: #8e44ad;
}

section .feed .tabContent .postsConteudo{ 
    font-size: 14pt;
    font-weight: 600;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    width: 100%;
}

section .feed .tabContent .postsConteudo .comentarioPost{
    border-top: 1px solid #311B92;
    border-bottom: 1px solid #311B92;
    font-size: 12pt;
    font-weight: 200;
    width: 100%;
}

section .feed .tabContent .postsConteudo .atalhoPerfilPost{ 
    font-size: 12pt;
    font-weight: 200;
    margin: 20px 0;
}

section .feed .tabContent .postsConteudo .atalhoPerfilPost a{
    color: #311B92;
    font-size: 14pt;
    font-weight: 600;
    text-decoration: none;
}