footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .footer{
    border-radius: 0% 0% 10px 10px;
    color: rgb(153, 153, 153);
    width: 90%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2px 0 20px 0;
}

footer .footer p{
    margin: 0;
}

footer .footer .socialMedia{
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .footer img{
    height: 30px;
}

footer .footer .links{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
}

footer .footer .links button{
    background-color: #8e44ad;
    border: 1px solid #311B92;
    border-radius: 12px;
    color: rgb(189, 189, 189);
    font-family: 'Rajdhani', sans-serif;
    font-size: 15pt;
    font-weight: 600;
    width: 40%;
}

footer .footer .links button:hover{
    cursor: pointer;
}

footer .footer .links a{
    color: rgb(189, 189, 189);
    text-decoration: none;
    text-align: center;
    font-size: 9pt;
}

