html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar-track
{
	--webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}


body{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Rajdhani', sans-serif;
    margin: 0%;
    background-color: antiquewhite;
    background-image: url('../Images/output-onlinejpgtools.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-top: 7vh;
}

/* Nav Bar */

nav{
    align-items: center;
    background-color: rgb(59, 59, 59);
    display: flex;
    height: 7vh;
    justify-content: space-between;
    padding: 0 4%;
    position: fixed;
    top: 0;
    width: 92%;
    z-index: 1000;
}

nav a{
    text-decoration: none;
    color: rgb(204, 204, 204);

}

nav a:hover{
    color: white;
    font-weight: 800;
}

nav .pesquisa {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    min-width: 30%;
}

nav .pesquisa input{
    font-size: 13pt;
    height: 70%;
    border-radius: 10px;
    border: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 12pt;
    width: 100%;
    padding-left: 15px;
    outline: none;
}

nav #logoArea{
    align-items: center;
    color: rgb(167, 167, 167);
    display: flex;
    font-family: 'Press Start 2P', cursive;
    font-size: 12pt;
    justify-content: flex-start;
    height: 100%;
    width: 40%;
}

nav #navResto{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 60%;
}

nav #logoPM{
    background-color: red;
    border-radius: 100%;
    height: 40px;
    margin-right: 20px;
    overflow: hidden;
    width: 40px
}

nav #loginButtonArea{
    align-items: center;
    display: flex;
    font-size: 16pt;
    height: 100%;
    justify-content: space-between;
    width: 23%;
}

nav #atalhosArea{
    align-items: center;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16pt;
    height: 80%;
    justify-content: center;
    margin-left: 10px;
    width: 30%;
}

nav #atalhoButton{
    align-items: center;
    background-color: rgb(59, 59, 59);
    border: none;
    border-radius: 10px;
    color: rgb(204, 204, 204);
    cursor: pointer;
    display: flex;
    font-family: 'Rajdhani', sans-serif;
    font-size: 12pt;
    height: 100%;
    justify-content: space-between;
    outline: none;
    padding: 5px;
    width: 100%;
}

nav #atalhoButton img{
    height: 50%;
}

nav #atalhos{
    background-color: rgb(59, 59, 59);
    border: none;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    left: 41.5%;
    max-height: 0;
    overflow: hidden;
    padding-left: 7px;
    position: fixed;
    top:6vh;
    transition: max-height 0.5s ease-out;
    width: 16%;
}

nav #navResto #atalhos span{
    background-color: rgb(153, 153, 153);
    height: 1px;
    width: 15px;
}

nav span{
    background-color: rgb(153, 153, 153);
    height: 14pt;
    width: 1px;
}

/* Header */

header{
    width: 100%;
    height: 70vh;
}

/* Padrões do aside e section */

aside{
    width: 40%;
    justify-content: flex-start;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

aside .perfil, aside .index, aside .feed, aside .paginaJogos{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(97, 97, 97);
    width: 90%;
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
}

section{
    width: 60%;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

section .perfil, section .index, section .feed, section .paginaJogos{
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 20px 20px;
    border-radius: 10px;
    background-color: rgb(201, 201, 201);
}

/* Footer */

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .footer{
    border-radius: 0% 0% 10px 10px;
    width: 90%;
    height: 30vh;
    background-color: darkslategrey;
    display: flex;
    flex-wrap: wrap;
    margin: 2px 0 5% 0;
}

footer .footer div:first-child{
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

footer .footer div:nth-child(2) {
    width: 57%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

footer .footer div:nth-child(2) button {
    background-color: fuchsia;
    color: white;
    border: none;
    width: 120px ;
    height: 30px ;
    letter-spacing: 3px;
    border-radius: 15px;
}

footer .footer div:last-child {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

/* ======== INDEX ======== */



.index, .paginaJogos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

header .index{
    background-image: url('https://images.unsplash.com/photo-1533613220915-609f661a6fe1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80');
    background-size: cover;
}

.BannerTexto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    background-color: #8e44ad;
}

.ContBanner {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ContBanner h1 {
    font-family: 'Press Start 2P', cursive;
}

.ContBanner h4 {
    font-family: 'Press Start 2P', cursive;
}

.BannerImg {
    width: 60%;
    display: flex;
    background-image: url('https://images.unsplash.com/photo-1533613220915-609f661a6fe1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80');
    background-size: cover;
}

.sIndexCont{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.sIndexCont p{
    color: #311B92;
}

aside .index{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aIndexCont {
    display: flex;
    width: 90%;
    height: 90%;
    background-color: magenta;
    justify-content: space-around;
    align-items: center;
}

.topjogoIndex {
    width: 25px;
    height: 59px;
    background-color: aqua;
}

/* ======== PERFIL ======== */

.perfil {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}


aside .perfil div:first-child{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .perfil div:first-child div{
    width: 100px;
    height: 175px;
    border-radius: 100%;
}

aside .perfil div:first-child div img{
    width: 150px;
    height: 150px;
    
}

aside .perfil div:last-child{
    width: 70%;
    height: 70%;
}

aside .perfil div:last-child div:first-child{
    width: 100%;
    height: 15%;
    justify-content: flex-start;
    align-items: center;
}

aside .perfil div:last-child div:first-child h3{
    font-size: 32pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5% 0;
}

aside .perfil div:last-child div:nth-child(2){
    width: 100%;
    margin-bottom: 15%;
}

aside .perfil div:last-child div:last-child{
    width: 100%;
}

aside .perfil div:last-child div:last-child p{
    text-align: center;
    font-style: italic;
    color: darkslategrey;
}

/* ======== CADASTRO LOGIN ======== */

article {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.login{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ecf0f1;
    width: 50%;
    height: 60%;
    border-radius: 50px;
}

.login h4, .cadastro h4{
    font-weight: 200;
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 22pt;
    margin: 0;
}

.login input, .cadastro input{
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    outline: none;
    background-color: transparent;
    border: 1px solid #8e44ad;
    transition: 0.45s;
    font-family: 'Rajdhani', sans-serif;
}

.login input::placeholder, cadastro input::placeholder{
    font-family: 'Rajdhani', sans-serif;
}

.login input[type = 'text']:focus, .login input[type = 'password']:focus, .cadastro input[type = 'text']:focus, .cadastro input[type = 'password']:focus{
    width: 200px;
    border-color: black;
}

.login input[type='submit']:hover, .login input[type='button']:hover, .cadastro input[type='submit']:hover, .cadastro input[type='button']:hover {
    cursor: pointer;
    background-color: #311B92;
    color: white;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ecf0f1;
    width: 50%;
    height: 60%;
}

.ligou{
    display:none;
}

/* ======== JOGOS ======== */

.paginaJogos{
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .paginaJogos{
    height:250px;
    overflow: auto;
}

aside .paginaJogos > div{
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: 50px 0;
    overflow-y:auto;
}
aside .paginaJogos div > div{
    width: 150px;
}
aside .paginaJogos div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside .paginaJogos div div div:first-child{
    border-radius: 25px;
    overflow: hidden;
    width: 100px;
    background-color: white;
}

aside .paginaJogos div div div:first-child img{
    width: 100px;
    height: 150px;
}

aside .paginaJogos div div div:first-child:hover{
    filter: blur(1px);
    cursor: pointer;
}
aside .paginaJogos div div > div div:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    color: white;
    width: 100%;
    text-align: center;
}


section .paginaJogos{
    opacity: 0;
}


/* ======== FEED ======== */

.feed{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Informações do usuario e area de novo  */

aside .feed .top{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

aside .feed .top .userInfo{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 60%;
}

aside .feed .top .userInfo .userImage{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

aside .feed .top .userInfo .userImage img{
    height: 100px;
}    

aside .feed .top .userInfo h3{
    font-size: 18pt;
    margin: 0;
}

aside .feed .top .userInfo h4{
    font-size: 14pt;
    font-weight: 500;
    margin: 10px 0 30px 0;
}

aside .feed .top .newPostButtonArea{
    align-items: center;
    display: flex;
    height: 90%;
    justify-content: flex-end;
    width: 40%;
}

aside .feed .top .newPostButtonArea .newPostButton{
    align-items: center;
    background-color: rgb(189, 189, 189);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(82, 82, 82);
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    padding: 0;
    width: 60px;
}

aside .feed .top .newPostButtonArea .newPostButton span{
    background-color: rgb(75, 75, 75);
    border-radius: 3px;
    height: 3px;
    width: 90%;
}

aside .feed .top .newPostButtonArea .newPostButton .spanVertical{
    transform: translateX(50%) rotate(90deg);
    transition: .50s;
    opacity: 1;
    z-index: 10;
}

aside .feed .top .newPostButtonArea .newPostButton .spanHorizontal{
    transform: translateX(-50%);
}

aside .feed .top .newPostButtonArea .newPostButton .verticalDesce{
    transform: translateX(50%) translateY(30px) rotate(90deg);
    transition: .50s;
    opacity: 0;
    z-index: -1;
}

aside .feed .top .newPostButtonArea .active, aside .feed .top .newPostButtonArea .newPostButton:hover{
    background-color: rgb(153, 153, 153);
}

aside .feed .newPost{ 
    max-height: 0px;
    overflow: hidden;
    padding: 0 5% 0 5%;
    transition: max-height 0.5s ease-out;
    width: 90%;
}

/* Lista de top jogos */

aside .feed .topGameList{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

aside .feed .topGameList .tituloTopGameList{
    border-top: 1px solid black;
    font-size: 14pt;
    font-weight: 600;
    width: 90%;
}

/* Abas da Section */

section .feed #navTabArea{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 7vh;
    width: 100%;
}

/* Abas da Section */

section .feed #navTabArea{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 7vh;
    width: 100%;
}

section .feed #navTabArea #navTab{
    align-items: center;
    background-color: rgb(59, 59, 59);
    border-radius: 0 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

section .feed #navTabArea #navTab .tab{
    background-color: rgb(59, 59, 59);
    border: none;
    color: rgb(226, 226, 226);
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
    font-size: 14pt;
    outline: none;
}

section .feed #navTabArea #navTab .divisoriaTab{
    background-color: rgb(153, 153, 153);
    height: 10pt;
    width: 1px;
}

section .feed #navTabArea #navTab button.active{
    color: red;
}

section .feed .tabContent{
    animation: fadeEffect .5s;
    display: none;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}