body{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Rajdhani', sans-serif;
    margin: 0%;
    background-color: antiquewhite;
    background-image: url('../Images/output-onlinejpgtools.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-top: 7vh;
}

nav{
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav a{
    text-decoration: none;
    color: black;

}

nav a:hover{
    text-decoration: underline;
}

nav .pesquisa {
    width: 300px;
    display: flex;
    justify-content: flex-end;
}

nav .pesquisa input{
    font-size: 13pt;
    width: 250px;
    height: 30px;
    border-radius: 15px;
    border: none;
    padding-left: 15px;
}

nav h4:hover{
    cursor: pointer;
}

header{
    width: 100%;
    height: 65vh;

}

aside{
    width: 40%;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

aside .perfil, aside .index, aside .feed, aside .paginaJogos{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(97, 97, 97);
    width: 90%;
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
}

section{
    width: 60%;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

section .perfil, section .index, section .feed, section .paginaJogos{
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 20px 20px;
    border-radius: 10px;
    background-color: rgb(201, 201, 201);
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .footer{
    border-radius: 0% 0% 10px 10px;
    width: 90%;
    height: 30vh;
    background-color: darkslategrey;
    display: flex;
    flex-wrap: wrap;
    margin: 2px 0 5% 0;
}

footer .footer div:first-child{
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer .footer div:nth-child(2) {
    width: 57%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

footer .footer div:nth-child(2) button {
    background-color: fuchsia;
    color: white;
    border: none;
    width: 120px ;
    height: 30px ;
    letter-spacing: 3px;
    border-radius: 15px;
}

footer .footer div:last-child {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

/* ======== INDEX ======== */

.index, .paginaJogos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

header .index{
    background-image: url('https://images.unsplash.com/photo-1533613220915-609f661a6fe1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80');
    background-size: cover;
}

/* ======== PERFIL ======== */

.perfil {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}


aside .perfil div:first-child{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .perfil div:first-child div{
    width: 100px;
    height: 175px;
    border-radius: 100%;
}

aside .perfil div:first-child div img{
    width: 150px;
    height: 150px;

}

aside .perfil div:last-child{
    width: 70%;
    height: 70%;
}

aside .perfil div:last-child div:first-child{
    width: 100%;
    height: 15%;
    justify-content: flex-start;
    align-items: center;
}

aside .perfil div:last-child div:first-child h3{
    font-size: 32pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5% 0;
}

aside .perfil div:last-child div:nth-child(2){
    width: 100%;
    margin-bottom: 15%;
}

aside .perfil div:last-child div:last-child{
    width: 100%;
}

aside .perfil div:last-child div:last-child p{
    text-align: center;
    font-style: italic;
    color: darkslategrey;
}

/* ======== CADASTRO LOGIN ======== */

article {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ecf0f1;
    width: 50%;
    height: 50%;
}

.login h4, .cadastro h4{
    font-weight: 200;
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 22pt;
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.login input, .cadastro input{
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    outline: none;
    background-color: transparent;
    border: 1px solid #8e44ad;
    transition: 0.45s;
}

.login input[type = 'text']:focus, .login input[type = 'password']:focus, .cadastro input[type = 'text']:focus, .cadastro input[type = 'password']:focus{
    width: 200px;
    border-color: black;
}

.login input[type='submit']:hover, .login input[type='button']:hover, .cadastro input[type='submit']:hover, .cadastro input[type='button']:hover {
    cursor: pointer;
    background-color: #311B92;
    color: white;
}

.cadastro{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ecf0f1;
    width: 50%;
    height: 50%;
}

.ligou{
    display:none;
}

/* ======== JOGOS ======== */


/* ======== FEED ======== */

.feed{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Informações do usuario e area de novo  */

aside .feed .top{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

aside .feed .top .userInfo{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 60%;
}

aside .feed .top .userInfo .userImage{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

aside .feed .top .userInfo .userImage img{
    height: 100px;
}    

aside .feed .top .userInfo h3{
    font-size: 18pt;
    margin: 0;
}

aside .feed .top .userInfo h4{
    font-size: 14pt;
    font-weight: 500;
    margin: 10px 0 30px 0;
}

aside .feed .top .newPostButtonArea{
    align-items: center;
    display: flex;
    height: 90%;
    justify-content: flex-end;
    width: 40%;
}

aside .feed .top .newPostButtonArea .newPostButton{
    align-items: center;
    background-color: rgb(189, 189, 189);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(82, 82, 82);
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    padding: 0;
    width: 60px;
}

aside .feed .top .newPostButtonArea .newPostButton span{
    background-color: rgb(75, 75, 75);
    border-radius: 3px;
    height: 3px;
    width: 90%;
}

aside .feed .top .newPostButtonArea .newPostButton .spanVertical{
    transform: translateX(50%) rotate(90deg);
    transition: .50s;
    opacity: 1;
    z-index: 10;
}

aside .feed .top .newPostButtonArea .newPostButton .spanHorizontal{
    transform: translateX(-50%);
}

aside .feed .top .newPostButtonArea .newPostButton .verticalDesce{
    transform: translateX(50%) translateY(30px) rotate(90deg);
    transition: .50s;
    opacity: 0;
    z-index: -1;
}

aside .feed .top .newPostButtonArea .active, aside .feed .top .newPostButtonArea .newPostButton:hover{
    background-color: rgb(153, 153, 153);
}

aside .feed .newPost{ 
    max-height: 0px;
    overflow: hidden;
    padding: 0 5% 0 5%;
    transition: max-height 0.5s ease-out;
    width: 90%;
}

/* Lista de top jogos */

aside .feed .topGameList{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

aside .feed .topGameList .tituloTopGameList{
    border-top: 1px solid black;
    font-size: 14pt;
    font-weight: 600;
    width: 90%;

}

/* Abas da Section */

section .feed #navTabArea{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 7vh;
    width: 100%;
}

section .feed #navTabArea #navTab{
    align-items: center;
    background-color: rgb(59, 59, 59);
    border-radius: 0 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

section .feed #navTabArea #navTab .tab{
    background-color: rgb(59, 59, 59);
    border: none;
    color: rgb(226, 226, 226);
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
    font-size: 14pt;
    outline: none;
}

section .feed #navTabArea #navTab .divisoriaTab{
    background-color: rgb(153, 153, 153);
    height: 10pt;
    width: 1px;
}

section .feed #navTabArea #navTab button.active{
    color: red;
}

section .feed .tabContent{
    display: none;
}