{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}

<article>
    <div>
        <div class="cadastro">
            <div class="cadascont">
                <h4>cadastro</h4>
                {% if msg %}
                {% for msgs in msg %}
                <p>CONTA CRIADA COM SUCESSO</p>
                {% endfor %}
                {% endif %}
                <div class="formArea">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form1.as_p }}
                        {{ form2.as_p }}    
                        <div class="form3Area">
                            {{ form3.as_p }}
                        </div>                
                    </form>
                    <a href="{% url 'cadastro' %}"><input type="submit" value="Cadastrar-se"></a>
                </div>
            </div>
        </div>
    </div>
</article>

{% endblock %}