{% extends "main.html" %}

{% load staticfiles %}

{% block content %}

<aside>
    <div class="feed">
        <div class="top">
            <div class="userInfo">
                <div class="userImage">
                    <img src="{{ user.perfil.icon.iconOptions.url }}"  alt="Imagem do perfil">
                </div>
                <div >
                    <h4>{{ user.get_username }}</h4>
                    
                    <h5>{{ user.perfil.nomeR }}</h5>
                </div>
            </div>
            <div class="newPostButtonArea">
                <div class="newPostButton">
                    <span class="spanVertical"></span>
                    <span class="spanHorizontal"></span>
                </div>
            </div>
        </div>
        <div class="newPost">
            <form action="" method="POST">
                {% csrf_token %}

                {{form.as_p}}

                <input type="submit" value="Postar">
            </form>
        </div>
        <div class='topGameList'>
            <div class="tituloTopGameList">
                <p>Jogos mais procurados:</p>
            </div>
            <div class="contentGameList">
                <p>Jogo1</p>
                <p>Jogo2</p>
                <p>Jogo3</p>
                <P>Jogo4</P>
                <p>Jogo5</p>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</aside>

<section>
    <div class="feed">
        <div id="navTabArea">
            <div id="navTab">
                <button class="tab" onclick="openTab(event, 'tabAllPosts')">Todos</button>
                <span class="divisoriaTab"></span>
                <button class="tab" onclick="openTab(event, 'tabMatchPosts')" id="defaultOpen">Posts</button>
                <span class="divisoriaTab"></span>
                <button class="tab" onclick="openTab(event, 'tabMatchProfiles')">Perfis</button>
            </div>
        </div>
        
        <div class="tabContent" id="tabAllPosts">
                {% for post in posts %}
            <div class="postsTitulo">
                <div class="postCapaJogo"><img src="{{ post.jogo.capa.url }}" alt=""></div> <h4>{{ post.titulo }} - {{ post.plataforma }}</h4>
                <div class="postsConteudo">
                <p> - {{ post.plataforma }}</p>

                <p>{{ post.comentario }}</p> - <a href="#">{{ post.usuario }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="tabContent" id="tabMatchPosts">
            
            {% for post in feedFilter %}            
            <div class="postsTitulo">
                <div class="postCapaJogo"><img src="{{ post.jogo.capa.url }}" alt=""></div> <h4>{{ post.titulo }} - {{ post.plataforma }}</h4>
                <div class="postsConteudo">
                <p> - {{ post.plataforma }}</p>

                <p>{{ post.comentario }}</p> - <a href="#">{{ post.usuario }}</a>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="tabContent" id="tabMatchProfiles">
            Perfis
        </div>
    </div>
</section>

{% endblock %}