{% extends "main.html" %}

{% load staticfiles %}

{% block content %}


<aside>
    <div class="feed">
        <div class="top">
            <div class="userInfo">
                <div class="userImage">
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/406ae668-3145-4c7c-be80-2abd4d3da61e/dc3t7gg-123baecb-a0b6-4247-8e1b-79ae85832f03.png/v1/fill/w_1024,h_576,q_80,strp/akarin_bakyu_n_by_dluu13_dc3t7gg-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvNDA2YWU2NjgtMzE0NS00YzdjLWJlODAtMmFiZDRkM2RhNjFlXC9kYzN0N2dnLTEyM2JhZWNiLWEwYjYtNDI0Ny04ZTFiLTc5YWU4NTgzMmYwMy5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.VaoNeq4sk4yQfcL5fpOfzUR1qXXRFz81Oshl420Z8Oo" alt="Imagem do perfil">
                </div>
                <div >
                    <h3>UserName</h3>
                    <h4>Nome Real</h4>
                </div>
            </div>
            <div class="newPostButtonArea">
                <div class="newPostButton">
                    <span class="spanVertical"></span>
                    <span class="spanHorizontal"></span>
                </div>
            </div>
        </div>
        <div class="newPost">
            <p>Formulario</p> 
        </div>
        <div>
            Lista de Jogos em alta
        </div>
    </div>
    {% include "footer.html" %}
</aside>

<section>
    <div class="feed">
        <div class="matchPosts">

        </div>
        <div class="allPosts">
            
        </div>
        <div class="matchProfile">

        </div>
    </div>
</section>

{% endblock %}