{% extends "main.html" %}

{% load staticfiles %}

{% block content %}
{% if user.is_authenticated %}
<aside>
    <div class="feed">
        <div class="top">
            <div class="userInfo">
                <div class="userImage">
                    <img src="{{ user.perfil.icon.iconOptions.url }}"  alt="Imagem do perfil">
                </div>
                <div >
                    <h4>{{ user.get_username }}</h4>
                    
                    <h5>{{ user.perfil.nomeR }}</h5>
                </div>
            </div>
            <div class="newPostButtonArea">
                <div class="newPostButton">
                    <span class="spanVertical"></span>
                    <span class="spanHorizontal"></span>
                </div>
            </div>
        </div>
        <div class="newPost">
            <form action="" method="POST">
                {% csrf_token %}

                {{form.as_p}}

                <input type="submit" value="Postar">
            </form>
        </div>
        <div class='topGameList'>
            <div class="tituloTopGameList">
            </div>
            <div class="contentGameList">
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</aside>

<section>
    <div class="feed">
        <div id="navTabArea">
            <div id="navTab">
                <button class="tab" onclick="openTab(event, 'tabAllPosts')">Todos</button>
                <span class="divisoriaTab"></span>
                <button class="tab" onclick="openTab(event, 'tabMatchPosts')" id="defaultOpen">Posts</button>
                <span class="divisoriaTab"></span>
                <button class="tab" onclick="openTab(event, 'tabMatchProfiles')">Perfis</button>
            </div>
        </div>
        
        <div class="tabContent" id="tabAllPosts">
                {% for post in posts %}            
            <div class="postsTitulo">
                <div class="postsHeader">
                    <div class="postCapaJogo">
                            <img src="{{ post.jogo.capa.url }}" alt="">
                    </div> 
                    <h4>{{ post.titulo }} - {{ post.plataforma }}</h4>
                    <div class="postButtonArea">
                        <div class="postButton">
                            <span class="spanVertical1"></span>
                            <span class="spanHorizontal1"></span>
                        </div>
                    </div>        
                </div>      
                <div class="postsConteudo">
                    <p>{{ post.jogo }} - {{ post.plataforma }}</p>
                    <div class="comentarioPost">
                        <p>{{ post.comentario }}</p>
                    </div>
                    <div class="atalhoPerfilPost">
                        <p>Postado por: </p>
                        <a href="{% url 'perfil' %}/{{ post.usuario }}">{{ post.usuario }}</a>   
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="tabContent" id="tabMatchPosts">
            
            {% for post in match %}            
            <div class="postsTitulo">
                <div class="postsHeader">
                    <div class="postCapaJogo">
                            <img src="{{ post.jogo.capa.url }}" alt="">
                    </div> 
                    <h4>{{ post.titulo }} - {{ post.plataforma }}</h4>
                    <div class="postButtonArea">
                        <div class="postButton">
                            <span class="spanVertical1"></span>
                            <span class="spanHorizontal1"></span>
                        </div>
                    </div>        
                </div>      
                <div class="postsConteudo">
                    <p>{{ post.jogo }} - {{ post.plataforma }}</p>
                    <div class="comentarioPost">
                        <p>{{ post.comentario }}</p>
                    </div>
                    <div class="atalhoPerfilPost">
                        <p>Postado por: </p>
                        <a href="#">{{ post.usuario }}</a>   
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="tabContent" id="tabMatchProfiles">
            Perfis
        </div>
    </div>
</section>

{% else %}
    <article class="opsLogin">
        <div>
            <h2>Ops, você tem que realizar o <a href="{% url 'loginn' %}">Login</a> para ver essa página</h2>
        </div>
    </article>
{% endif %}

{% endblock %}