{% load staticfiles %}

<footer>
    <div class="footer">
        <div class="links">
            <a href="">Quer sugerir um jogo que ainda não está no nosso banco de dados? Clique aqui!</a>
            <button>
                Help!
            </button>
        </div>
        <p>Entre em contato:</p> 
        <div class="socialMedia">
            <a href=""><img src="../static/Images/facebook.png" alt=""></a>
            <a href=""><img src="../static/Images/linkedin.png" alt=""></a>
            <a href=""><img src="../static/Images/twitter.png" alt=""></a>
            <a href=""><img src="../static/Images/reddit.png" alt=""></a>
        </div>
    
    </div>
</footer>