{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}

<header>
    <div class="index">
        <div class="BannerTexto">
            <div class="ContBanner">
                <h1>Nome</h1>
                <h4>Cansado de jogar sozinho!</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate quam a, tempora id magni est repellendus eius illum, reiciendis aliquid rem sunt. Totam nemo debitis repudiandae facere eaque. Praesentium, nisi?</p>
            </div>
        </div>
        <div class="BannerImg">

        </div>
    </div>
    
</header>

<aside>
    <div class="index">
        <div class="aIndexCont">
            {% for jogos in jogos %}
                <div>
                        <div><img src="{{ jogos.capa.url }}" alt=""></div>
                </div>
            {% endfor %}
        </div>
        
    </div>
    {% include "footer.html" %}
</aside>

<section>
    <div class="index">
        <div class="sIndexCont">
            <p>.</p>
            <p>.</p>
            <p>.<div class=""></div></p>
        </div>
    </div>
    
    <div class="postsIndex">
        
        
        
    </div>
    
    
</section>

{% endblock %}

