{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}

<header>
    <div class="index">
        <div class="BannerTexto">
            <div class="ContBanner">
                <h1>PartyMatch</h1>
                <h4>Não aguenta mais ficar no singleplayer?</h4>
                <span><p>Conheça jogadores com base no que jogam e dê "match" com eles para marcar jogatinas e nunca mais se preocupar em não ter aliados para jogar.</p></span>
            </div>
        </div>
        <div class="BannerImg">
            
        </div>
    </div>
    
</header>

<aside>
    <div class="index">
        <div class="aIndexCont">
    
        </div>
        
    </div>
    {% include "footer.html" %}
</aside>

<section>
    <div class="index">
        <div class="postsIndex">
                {% for post in posts %}            
                <div class="postsTitulo">
                    <div class="postsHeader">
                        <div class="postCapaJogo">
                                <img src="{{ post.jogo.capa.url }}" alt="">
                        </div> 
                        <h4>{{ post.titulo }} - {{ post.plataforma }}</h4>
                        <div class="postButtonArea">
                            <div class="postButton">
                                <span class="spanVertical1"></span>
                                <span class="spanHorizontal1"></span>
                            </div>
                        </div>        
                    </div>      
                    <div class="postsConteudo">
                        <p>{{ post.jogo }} - {{ post.plataforma }}</p>
                        <div class="comentarioPost">
                            <p>{{ post.comentario }}</p>
                        </div>
                        <div class="atalhoPerfilPost">
                            <p>Postado por: </p>
                            <a href="{% url 'perfil' %}/{{ post.usuario }}">{{ post.usuario }}</a>   
                        </div>
                    </div>
                </div>
                {% endfor %}       
        </div>
    </div>
    
    
    
    
</section>

{% endblock %}

