{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}

<header>
<div class="index"></div>
</header>

<aside>
<div class="index">

    <div class="aIndexCont">

    <div class="topjogoIndex">

    </div>

    <div class="topjogoIndex">

    </div>

    <div class="topjogoIndex">

    </div>
    </div>

</div>
{% include "footer.html" %}
</aside>


<section>
<div class="index">
    <div class="sIndexCont">
        <p>.</p>
        <p>.</p>
        <p>.<div class=""></div></p>
    </div>
</div>

<div class="postsIndex">


    
</div>


</section>

{% endblock %}

