{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}


<article>
    <div>
        <div class="login">
            <h4>Login</h4>
            <div class="formArea">
                <form method="POST" action="{% url 'loginn' %}">
                    {% csrf_token %}
                    <input type="text" name="usuario" placeholder="Usuário">
                    <input type="password" name="senha" placeholder="Senha">
                    <input type="submit" value="Entrar">
                    <a href="{% url 'cadastro' %}">
                        <input type="button" class="cdstrbtn" value="Cadastrar-se">
                    </a>
                </form>
            </div>  
        </div>
    </div>
</article>
{% endblock %}