{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <script defer src="{% static 'script/script.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <div id="logoArea">
            <a href="/" id="logoPM">
                <img src="" alt="Party Match">
            </a>
            <h1>Party Match</h1>
        </div>
        <div id="navResto">
            <div id="atalhosArea">
                <button id="atalhoButton">
                    CurrentPage
                    <img src="../static/Images/sort-down.png" alt="Mostrar mais.">
                </button>
                <div id="atalhos">
                    <a href="jogos/" id="botaoJogos">Jogos</a>
                    <span></span>
                    <a href="" id="botaoFeed">Feed</a>
                    <span></span>
                    <a href="" id="botaoPerfil">Perfil</a>
                </div>
            </div>
            <div class="pesquisa">
                <input  placeholder= "Pesquise aqui" type="search" name="" id="">
            </div>
            <div id="loginButtonArea">
                <a href="cadatre" id="botaoCadastro">Cadastre-se</a>
                <span></span>
                <a href="login/" id="botaoLogin">Login</a>
            </div>
        </div>
    </nav>
 
    


    {% block content %}
    
    {% endblock %}
      
</body>
</html>