{% extends "main.html" %}

{% load staticfiles %}

{% block content %}
{% if user.is_authenticated %}
    
<aside>
        <div class="perfil">
            <div> 
                <div>
                    <img src="{{ user.perfil.icon.iconOptions.url }}" alt="">
                </div>
            </div>
    
            <div>
                <div>
                    <h3>{{ user.get_username }}</h3>
                </div>
                <div>
                    <h4>{{ user.perfil.nomeR }}</h4>
                </div>
                <div>
                    <p>{{ user.perfil.bio }}</p>
                </div>
    
                <div class="perfilContato">
                        {% if user.perfil.discord != '' %}
                        <p>Discord: {{ user.perfil.discord }}</p>
                    {% endif %}
        
                    {% if user.perfil.whatsapp != '' %}
                        <p>Whatsapp: {{ user.perfil.whatsapp }}</p>
                    {% endif %}
        
                    {% if user.perfil.facebook != '' %}
                        <p>Facebook: <a href="https://www.facebook.com/{{ user.perfil.facebook }}">{{ user.perfil.facebook }}</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </aside>
    
    <section>
        <div class="perfil">
                {% for post in posts %}
                {% if post.usuario == user.get_username %}
                <div class="postsTitulo">
                    <div class="postCapaJogo"><img src="{{ post.jogo.capa.url }}" alt=""></div> <h4>{{ post.titulo }} - {{ post.plataforma }}</h4>
                    <div class="postsConteudo">    
                    <p>{{ post.comentario }}</p> - <a href="#">{{ post.usuario }}</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
        </div>
    </section>
{% else %}
    <article class="opsLogin">
        <div>
            <h2>Ops, você tem que realizar o <a href="{% url 'loginn' %}">Login</a> para ver essa página</h2>
        </div>
    </article>
{% endif %}
{% endblock %}
