{% extends "main.html" %}

{% load staticfiles %}

{% block content %}

<aside>
    <div class="perfil">
        <div> 
            <div>
                <img src="{{ usuario.perfil.icon.iconOptions.url }}" alt="">
            </div>
        </div>

        <div>
            <div>
                <h3>{{ usuario.username }}</h3>
            </div>
            <div>
                <h4>{{ usuario.perfil.nomeR }}</h4>
            </div>
            <div>
                <p>{{ usuario.perfil.bio }}</p>
            </div>

            <div class="perfilContato">
                    {% if usuario.perfil.discord != '' %}
                    <p>Discord: {{ usuario.perfil.discord }}</p>
                {% endif %}
    
                {% if usuario.perfil.whatsapp != '' %}
                    <p>Whatsapp: {{ usuario.perfil.whatsapp }}</p>
                {% endif %}
    
                {% if usuario.perfil.facebook != '' %}
                    <p>Facebook: <a href="https://www.facebook.com/{{ usuario.perfil.facebook }}">{{ usuario.perfil.facebook }}</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</aside>

<section>
    <div class="perfil">
            {% for post in post %}            
            <div class="postsTitulo">
                <div class="postsHeader">
                    <div class="postCapaJogo">
                            <img src="{{ post.jogo.capa.url }}" alt="">
                    </div> 
                    <h4>{{ post.titulo }} - {{ post.plataforma }}</h4>
                    <div class="postButtonArea">
                        <div class="postButton">
                            <span class="spanVertical1"></span>
                            <span class="spanHorizontal1"></span>
                        </div>
                    </div>        
                </div>      
                <div class="postsConteudo">
                    <p>{{ post.jogo }} - {{ post.plataforma }}</p>
                    <div class="comentarioPost">
                        <p>{{ post.comentario }}</p>
                    </div>
                    <div class="atalhoPerfilPost">
                        <p>Postado por: </p>
                        <a href="{% url 'perfil' %}/{{ post.usuario }}">{{ post.usuario }}</a>   
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</section>

{% endblock %}
